*:before,
*:after{
    padding: 0;
    
}
body{
    height: 100vh;
    background: rgb(100, 6,205);
}
.container{
    width: 40%;
    border:1px solid white;
    background-color: white;
    min-width: 400%px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#nouvelle-tache {
    position: relative;
    padding: 30px 20px;
    
}
#nouvelle-tache input{
    width: 75%;
    height: 45px;
    padding: 12px;
    color: #111;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    position: relative;
    border: 2px solid #d1d3d4;
    
    
}
#nouvelle-tache input:focus{
    outline: none;
    border-color: #ec0dce;
}
#nouvelle-tache #btn{
    height: 45px;
    font-weight: 500;
    font-size: 16px;
    background-color: #ec0dce;
    border: none;
    outline: none;
    top: -60px;
    right: -20px;
    border-radius: 5px;
    width: 20%;
    color: white;
    cursor: pointer;
    position: relative;
   float: right;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
#liste {
    width: 100%;
    background-color: #fff;
    /*border: thin solid #1d1d1d; */
    border-radius: 10px;
    position: relative;
    padding: 30px 20px;
    margin-top: 10px;  
}

.taches{
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1thin solid #9e85ac;
    cursor: pointer;
    background-color: #cda7e2;
    height: 50px;
    margin-bottom: 8px;
    padding: 5px 10px
}
.taches span{
    font-family: 'poppins',sans-serif;
    font-size: 15px;
    font-weight: 400;

}
.taches button{
    background-color: #6d06cd;
    color: #ffffff;
    border: none;
    cursor: pointer;
}